<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>

    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/bootstrap-table")
    @Styles.Render("~/bundles/css/Mdc")

    <meta name="description" content="A project management for MDC">
    <link href="content/image/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    @*<link href="https://pipeline.mediumra.re/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />*@

    @RenderSection("css", required: false)

</head>
<body>
    @*PROGRESS BAR MODAL*@
    <div class="modal fade in" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="i-circle warning"><i class="fa fa-info"></i></div>
                        <div id="result" style="font-size: 1.1em; padding-bottom: 5px">
                            <p id="progressBarParagraph"></p>
                        </div>
                        <div style="width: 30%; margin: 0 auto; display:none;">
                            <div id="progressbar" style="width: 300px; height: 15px"></div>
                            <br />
                        </div>
                        <div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
                            <div id="ProgressMessage" class="progress-bar progress-bar-info" style="width: 100%; border:none;"></div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    @*<div class="layout layout-nav-top">*@
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-dark">
        @*class="navbar navbar-expand-lg navbar-light bg-light sticky-top">*@
        <div class="sidebar-header bg-dark">
            <a href='@Url.Action("Index", "Home", new { area = "" })' class="navbar-brand">
                <img alt="MCM" src='@Url.Content("~/Content/images/MDCtrasparente.png")' class="logo" />
            </a>
        </div>
        @Html.Partial("_SideBarPartial")
        @*<ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
        </ul>*@
    </nav>
    <!-- Page Content Holder -->
    @*<div class="main-container">*@
    <div class="main-container px-2">
    <!--pulsante per nascondere sidebar-->

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
        <button type="button" id="sidebarCollapse" class="btn btn-primary mr-2">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-lg-none ml-2">
                <div class="dropdown">
                    @Html.Partial("_LoginPartial")
                    @*<a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="nav-side-user.html" class="dropdown-item">Profile</a>
                    <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>*@
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
            @*<ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Overview</a>
            </li>
        </ul>*@
            @Html.Partial("_navPartial")
            <div class="d-lg-flex align-items-center">

                <div class="d-none d-lg-block">
                    <div class="dropdown">
                        @Html.Partial("_LoginPartial")
                        @*<a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="nav-side-user.html" class="dropdown-item">Profile</a>
                        <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>*@
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="content" class="row justify-content-around mt-1 mt-lg-3">
        <div class="col-xl-9 col-lg-11 mb-4">
            @*<div class="container body-content">
                <div class="row justify-content-center">*@
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
            </footer>
        </div>
    </div>
</div>
    @*</div>*@
</div>
    @Scripts.Render("~/bundles/js/jquery")

    @Scripts.Render("~/bundles/js/popper")
    @Scripts.Render("~/bundles/js/bootstrap")

    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/Mdc")

    @* <!-- Autosize - resizes textarea inputs as user types -->
        <script type="text/javascript" src="assets/js/autosize.min.js"></script>
        <!-- Flatpickr (calendar/date/time picker UI) -->
        <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
        <!-- Prism - displays formatted code boxes -->
        <script type="text/javascript" src="assets/js/prism.js"></script>
        <!-- Shopify Draggable - drag, drop and sort items on page -->
        <script type="text/javascript" src="assets/js/draggable.bundle.legacy.js"></script>
        <script type="text/javascript" src="assets/js/swap-animation.js"></script>
        <!-- Dropzone - drag and drop files onto the page for uploading -->
        <script type="text/javascript" src="assets/js/dropzone.min.js"></script>
        <!-- List.js - filter list elements -->
        <script type="text/javascript" src="assets/js/list.min.js"></script>
    *@
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="https://pipeline.mediumra.re/assets/js/theme.js"></script>



    <!-- signalR js -->
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js" type="text/javascript"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var progress = $.connection.progressHub;
            console.log(progress);
            // Create a function that the hub can call back to display messages.
            progress.client.AddProgress = function (message, percentage) {
                ProgressBarModal("show", message + " " + percentage);
                $('#ProgressMessage').width(percentage);
                if (percentage == "100%") {
                    f
                    ProgressBarModal();
                }
            };
            $.connection.hub.start().done(function () {
                var connectionId = $.connection.hub.id;
                console.log(connectionId);
            });
        });

        function ProgressBarModal(showHide) {

            if (showHide === 'show') {
                $('#mod-progress').modal('show');
                if (arguments.length >= 2) {
                    $('#progressBarParagraph').text(arguments[1]);
                } else {
                    $('#progressBarParagraph').text('U tijeku...');
                }

                window.progressBarActive = true;

            } else {
                $('#mod-progress').modal('hide');
                window.progressBarActive = false;
            }
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
