@model IEnumerable<MDC.Models.Provincia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProvincia }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProvincia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProvincia })
        </td>
    </tr>
}

</table>
