@model IEnumerable<MDC.Models.Consulenza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataConsulenza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescrizioneConsulenza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nominativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comune.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Socio.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipologiaContatto.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipologiaPratica.Descrizione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataConsulenza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescrizioneConsulenza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nominativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comune.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Socio.CodiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipologiaContatto.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipologiaPratica.Descrizione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdConsulenza }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdConsulenza }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdConsulenza })
        </td>
    </tr>
}

</table>
